/* 
    General Styles
*/

body{
    background-image: url("../img/stars.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#bold p {
    font-weight: bold;
}

img {
  box-shadow: 15px 15px 5px grey;
}

// #container-color{
//     background-color: rgb(22, 22, 22);
// }

#card-image{
      box-shadow: 1px 10px 5px black;

}